<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Medical Diagnosis Chatbot</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/index_page/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="../static/index_page/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="../static/index_page/css/landing-page.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-dark navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../static/assets/mdc_banner.png" alt="Medical Diagnosis Chatbot" class="img-fluid nav-image"></img></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/bot_say">Start Diagnosis</a>
                    </li>
                    <li><a href="/drs">Calculate Diabetes Risk Score</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Medical Diagnosis Chatbot</h1>
                        <h3>Team Members</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://in.linkedin.com/in/ishan-vatsaraj-75b92b174" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Ishan Vatsaraj</span></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/sanika-thakur-01aa3318b/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Sanika Thakur</span></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/swara-surve-0271bb191" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Swara Surve</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">On the Go Diagnosis</h2>
                    <ul>
                        <li class="lead">Medical Diagnosis Chatbot enables the patient to perform on-the-go diagnosis.</li>
                        <li class="lead">Patients can get health updates at any time during the day.</li>
                        <li class="lead">It gives an immediate result of the preliminary diagnosis based on the patient's symptoms bringing regular medical checkups at fingertips.</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/index_page/img/undraw_chatting_re_j55r.svg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">PDF Report of Diagnosis</h2>
                    <ul>
                        <li class="lead">It is an exclusive feature that helps the user to generate a PDF document of the diagnosis.</li>
                        <li class="lead">These reports assist doctors in giving efficient treatments based on the preliminary diagnostic reports.</li>
                        <li class="lead">These reports enable patients to skip long hours at a clinic and avoid long queues.</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../static/index_page/img/undraw_performance_overview_re_mqrq.svg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Indication of Emergency Treatment requirement</h2>
                    <ul>
                        <li class="lead">Our app displays red flags immediately on your phone, giving you an emergency indication of seeking medical treatment urgently or in the coming days.</li>
                        <li class="lead">These red flags give the patient an emergency indication of seeking medical treatment urgently or in the coming days.</li>
                        <li class="lead">The emergency indicator in the app also suggests you a specialist based on the type and severity of the disease.</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/index_page/img/undraw_medical_care_movn.svg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- JavaScript -->
    <script src="../static/index_page/js/jquery-1.10.2.js"></script>
    <script src="../static/index_page/js/bootstrap.js"></script>

</body>

</html>